// size
.w-full {
  width: 100%;
}
.w-auto {
  width: auto;
}
.w-screen {
  width: 100vw;
}
.h-auto {
  height: auto;
}
.h-full {
  height: 100%;
}
.h-screen {
  height: 100vh;
}

// button
.button-primary {
  background-color: var(--color-primary);
  color: var(--color-white);
  font-weight: bold;
  border: none;
  &:active {
    background-color: var(--color-primary-lighten);
  }
  line-height: 1;
}

.button-primary-solid {
  border: 1px solid var(--color-primary);
  color: var(--color-primary);

  &.sm {
    height: var(--ui-size-sm);
    line-height: var(--ui-size-sm);
  }
}

.button-white {
  color: var(--color-primary);
  background-color: var(--color-white);

  &.sm {
    height: var(--ui-size-sm);
    line-height: var(--ui-size-sm);
  }
}

.button-text {
  border: none;
  color: var(--color-primary);
  cursor: pointer;
}

.icon-onsen {
  background-image: url("/assets/images/icons/icon_onsen.svg");
  background-repeat: no-repeat;
  background-size: contain;
  width: 24px;
  height: 24px;
  display: inline-block;
  background-position: center;
}

.has-icon-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  > i {
    margin-right: var(--space-size-xs);
  }
}

// text
.title-md {
  font-size: var(--font-size-md);
  font-weight: bold;
}

.title-md-primary {
  @extend .title-md;
  color: var(--color-primary);
  line-height: 1.4;
}

.text-al-center {
  text-align: center;
}

// margin
.mb-md {
  margin-bottom: var(--space-size-md);
}

.mt-md {
  margin-top: var(--space-size-md);
}

// modal
.modal-button-wrapper {
  display: flex;
  justify-content: end;
  gap: var(--space-size-md);
  padding-top: var(--space-size-md);
  border-top: 1px solid var(--color-gray03);
}

// input
.input-text {
  height: 44px;
  box-sizing: border-box;
  padding: var(--space-size-sm) var(--space-size-md);
  border-radius: 100px;
  width: 100%;
}

.input-checkbox {
  display: inline-flex;
  align-items: center;
  gap: var(--space-size-xs);
  font-size: var(--font-size-sm);
}

// other
.page-wrapper {
  padding: calc(var(--header-height) + var(--space-size-xl))
    var(--space-size-xl) var(--space-size-xl);
}
.cursor-pointer {
  cursor: pointer;
}

.text-has-icon {
  display: flex;
  align-items: center;
  gap: var(--space-size-xs);
}
