.input-text {
  height: 44px;
  box-sizing: border-box;
  padding: var(--space-size-sm) var(--space-size-md);
  border-radius: 100px;
  width: 100%;
}

.input-checkbox {
  display: inline-flex;
  align-items: center;
  gap: var(--space-size-xs);
  font-size: var(--font-size-sm);
}

.button-primary {
  background-color: var(--color-primary-thick);
  color: var(--color-white);
  font-weight: bold;
  border: none;
}

.button-primary-solid {
  border: 1px solid var(--color-primary-thick);
  color: var(--color-primary-thick);

  &.sm {
    height: var(--ui-size-sm);
    line-height: var(--ui-size-sm);
  }
}


.button-text {
  border: none;
  color: var(--color-primary-thick);
  cursor: pointer;
}
