// マップ上のピン
.custom-marker {
  background: url(/assets/images/publicBathIcon.svg) no-repeat center center;
  background-color: var(--color-sub02);
  background-size: contain;
  width: 32px;
  height: 32px;
  border-radius: 100px;
  filter: drop-shadow(0px 0px 1px #50505090);
  cursor: pointer;
}

.custom-marker-selected {
  position: relative;
  z-index: 2;
  background-color: var(--color-primary);
}

.custom-popup {
  text-align: center;
  h3 {
    font-size: var(--font-size-sm);
    margin: var(--space-size-xs) 0 var(--space-size-md);
    text-align: center;
  }
  // > div:first-child {
  //   filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.4));
  // }
  > div:last-child {
    border-radius: 10px;
    padding: var(--space-size-md) var(--space-size-md) var(--font-size-sm);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  }
  .open {
    background-color: var(--color-sub02);
    color: var(--color-white);
    border-radius: 4px;
    padding: var(--space-size-xs);
    font-size: var(--font-size-xs);
    font-weight: normal;
    margin-right: var(--space-size-xs);
  }
  .unknown {
    @extend .open;
    background-color: var(--color-gray01);
  }
}

.mapboxgl-popup-close-button {
  height: 20px !important;
  width: 20px !important;
  padding: 0 !important;
  line-height: 20px !important;
}
