.navMyPage {
  position: relative;
  > div {
    display: flex;
    align-items: center;
  }
}

.popoverNav {
  ul {
    display: flex;
    flex-direction: column;
    align-items: start;
  }
  li {
    cursor: pointer;
    font-weight: bold;
    width: 100%;
    display: flex;
    gap: var(--space-size-sm);
    margin-left: 0 !important;
    line-height: 1;
    padding: var(--space-size-sm) var(--space-size-sm);
    &:not(:last-child) {
      border-bottom: 1px solid var(--color-gray03);
    }
  }
}

.tooltipShow {
  display: block;
  animation: fadeIn 0.3s ease-in-out;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.nickName {
  text-align: center;
  padding: var(--space-size-sm) var(--space-size-md) 0;
}

.email {
  text-align: center;
  font-size: var(--font-size-xs);
  font-weight: 400;
  padding: 0 var(--space-size-md) var(--space-size-xs);
}
